.childrenBorder > * {
    border-style: dashed;
    border-width: 1px;
}

.childrenHorizontalCenter {
    text-align: center;
}

.childrenVerticalCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
