.filterSectionTitle {
  display: inline-block;  // now able to set a fixed width
  width: 864px;           // six pill buttons wide (to match centering of buttons)
  text-align: left;
  margin-top: 26px;
  margin-bottom: 4px;
  padding-left: 2px;
  font-size: 16px;
  @media only screen and (max-width: @filterSection_bp1) {
    width: 432px;           // three pill buttons wide (to match centering of buttons)
  }
}

