.hintContainer {
  border-radius: 4px;
  width: 240px;
  height: 60px;
  box-shadow: 5px 5px 5px #1a321a;
}

.hint-venue-name {
  color: #0fa0ce;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.hint-venue-address {
  color: darkred;
  margin-bottom: 2px;
}

.hint-venue-category {
  color: brown;
}

@hint-bg-color: white;

.hint--color-white-override .hint__content {
  background-color: @hint-bg-color;
}

.hint--color-white-override.hint--top-left:before {
  border-top-color: @hint-bg-color;
}

.hint--color-white-override.hint--top-right:before {
  border-top-color: @hint-bg-color;
}

.hint--color-white-override.hint--top:before {
  border-top-color: @hint-bg-color;
}

.hint--color-white-override.hint--bottom-left:before {
  border-bottom-color: @hint-bg-color;
}

.hint--color-white-override.hint--bottom-right:before {
  border-bottom-color: @hint-bg-color;
}

.hint--color-white-override.hint--bottom:before {
  border-bottom-color: @hint-bg-color;
}

.hint--color-white-override.hint--left:before {
  border-left-color: @hint-bg-color;
}

.hint--color-white-override.hint--right:before {
  border-right-color: @hint-bg-color;
}
