.markerContainer {
  // initially any map object has left top corner at lat lng coordinates
  // it's on you to set object origin to 0,0 coordinates
  position: absolute;
  width: 40px;
  height: 40px;
}

.markerOriginCenter {
  left: -20px;
  top: -20px;
}

.markerOriginTopLeft {
  left: 0;
  top: 0;
}

.markerOriginBottomCenter {
  left: -20px;
  top: -40px;
}

.markerBase {
  width: 70%;
  height: 70%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.markerUnselected {
  background-image: url("/images/map_icon_std_darkgreen.svg");
}

.markerSelected {
  background-image: url("/images/map_icon_std_wetasphalt.svg");
}
