@navbar_height: 60px;

.nav {
  position: absolute;
  height: @navbar_height;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav__logo {
  width: 60px;
  height: 60px;
}

.nav__title {
  text-align: left;
  color: #663300;
  font-family: "BlanchCaps";
  font-size: 14px;
  line-height: @navbar_height;    // for vertical centering
}

.nav__usermenu {
  float: right;
  line-height: @navbar_height;    // for vertical centering
}

@media only screen and (max-width: @mobile-portrait) {
  .nav__title {
    display: none;
  }
}

.toggle-filter {
  position: absolute;
  font-size: 18px;
  z-index: 2000;
  color: white;
  cursor: pointer;
  right: 0px;
  top: 0;
  padding: 15px;
}

.show-grid {
  border: 1px solid rgba(86,61,124,.2);
}