.nav {
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  &__title {
    text-align: center;
    color: white;
    font-size: 21px;
    font-weight: bold;
    line-height: 60px;
    @media (max-width: @mobile-portrait) {
      font-size: 16px;
    }
  }
}

.toggle-filter {
  position: absolute;
  font-size: 18px;
  z-index: 2000;
  color: white;
  cursor: pointer;
  right: 0px;
  top: 0;
  padding: 15px;
}
