.pill {
  width: 140px;
  margin: 2px;
  color: black;
  background: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 1px;
  font-size: 14px;
  font-weight: bold;
}

.pill_selected {
  color: white;
  background: @t_purple;
  border: 2px solid @t_purple;
}
