.pitch {
  padding-top: 20px;
  font-size: 15px;
  color: #444;
  display: block;
  width: 226px;
  margin: 20px auto 0;
  padding-bottom: 20px;
  @media (max-width: @mobile-portrait) {
    width: 95%;
    text-align: center;
  }
  @media (max-height: 650px) {
    margin-top: 0;
  }
}
