@t_purple: #5e2ca5;   // tachyons purple

.join_button,
.join_button:hover
{
  color: white;
  border-width: 2px;
  border-color: @t_purple;
  background-color: @t_purple;
  font-weight: bold;
  margin: 2px;
}

.log_in_out_button,
.log_in_out_button:hover
{
  border-width: 2px;
  border-color: @t_purple;
  color: @t_purple;
  font-weight: bold;
  margin: 2px;
}

